.list--div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 410px;
    margin-top: 20px;
}
.list{
    border: 1px solid gray;
    background-color: rgb(218, 225, 223);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px 10px 0px 5px;
    width: 400px;
}
.save--list {
    transition:transform 2s ease;
}

.save--list:hover {
    color: green;
    transform: scale(1.2);
}

/*responsive for mobile*/
@media screen and (max-width: 767px){
    .list--div{
        margin: auto;
        margin-left: 20px;
    }
    .list{
        width: 300px;
    }
  }